/*wersja efektu kurtyny z zajęć*/

body {
	margin: 0;
	background-color: antiquewhite;
	overflow: hidden;
}

.curtain {
	width: 100%;
	height: 50vh;
}

.top {
	background-color: orange;
	animation-name: down;
	animation-duration: 1s;
}

.bottom {
	background-color: green;
	animation: up 1s;
}

/*kurtyna leci w dol - start*/

@keyframes down {
	from {
		transform: translateY(-100%);
	}
	
	to {
		transform: translateY(0%);
	}
}

/*kurtyna leci w dol - stop*/

/*kurtyna leci w gore - start*/

@keyframes up {
	from {
		transform: translateY(100%);
	}
	
	to {
		transform: translateY(0%);
	}
}

/*kurtyna leci w gore - stop*/
















/* moja wersja do efektu kurtyny


body {
	background-color: bisque;
	margin: 0;
}

.curtain {
	height: 100vh;
	width: 100vw;
	position: relative;
}

.curtain-top {
	height: 50vh;
	width: 100vw;
	position: absolute;
	background-color: fuchsia;
	transform: scale(1);
}

.curtain-top {
	animation-name: top;
	animation-duration: 1s;
	width: 100%;
	animation-timing-function: linear;
}

@keyframes top {
	from {
		height: 0%;
	}
	
	to {
		 height: 50%;
	}
}


.curtain-bottom {
	height: 50vh;
	width: 100vw;
	top: 50%;
	bottom: 0;
	position: absolute;
	background-color: aliceblue;
	transform: scale(1);
}


.curtain-bottom {
	animation-name: bottom;
	animation-duration: 1s;
	width: 100%;
	animation-timing-function: linear;
}

@keyframes bottom {
	from {
		
	}
}
